body,
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.app-body {
  display: flex;
  flex: 1;
}

.app-content {
  flex: 1;
  padding: 50px 12em 20px;
  text-align: center;
  background-color: #cfcfcf;
}

.the-chuck {
  height: 200px;
  width: 200px;
}

.help-text {
  padding: 0 0 10px;
  font-size: 20px;
}

.fact {
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  font-size: 27px;
  font-weight: 400;
  background-color: white;
}

.count {
  font-size: 20px;
  padding-top: 15px;
  font-weight: 300;
}

header {
  padding: 10px;
  font-size: 35px;
  font-family: 'Rye', cursive;
  background-color: #ececec;
  border-bottom: 5px solid #c00707;
}

footer {
  padding: 10px;
  font-size: 12px;
  font-family: 'Rye', cursive;
  background-color: #ececec;
}
